<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyouquan.mapper.JobMapper">


    <!--查询岗位-->
    <!--id:方法名  resultType:单条记录所封装的类型-->
    <select id="queryJob" resultType="com.xiaoyouquan.pojo.Job">
        select j.id, j.user_id, j.job_name, j.job_detail, j.position, j.nature, j.academic_acquired, j.experience_acquired, j.job_belonging, j.publish_time, j.salary_start, j.salary_end, j.salary_nums,u.nickname
        from job j join user u on j.user_id = u.id
        <where>
            <if test=" campus!=null ">u.campus1 = #{campus} or u.campus2 = #{campus} or u.campus3 = #{campus}</if>
            <if test=" userId!=null ">and user_id = #{userId}</if>
        </where>
    </select>


    <insert id="insertJob" parameterType="com.xiaoyouquan.pojo.Job">
        INSERT INTO job (id,user_id,job_name,job_detail,position,nature,academic_acquired,experience_acquired,job_belonging,publish_time,salary_start,salary_end,salary_nums,is_deleted)
        VALUES (#{id},#{userId},#{jobName},#{jobDetail},#{position},#{nature},#{academicAcquired},#{experienceAcquired},#{jobBelonging},#{publishTime},#{salaryStart},#{salaryEnd},#{salaryNums},#{isDeleted})
    </insert>



</mapper>