<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyouquan.mapper.UserMapper">

    <!--条件查询用户信息，查询有哪些学校-->
    <!--根据手机号查询用户是否存在，存在就拿取用户数据-->
    <!--id:方法名  resultType:单条记录所封装的类型-->
    <select id="queryUser" resultType="com.xiaoyouquan.pojo.User">
        select * from user u
        <where>
            <if test=" id!=null ">id = #{id}</if>
            <if test=" nickname!=null and nickname!='' ">and nickname = #{nickname}</if>
            <if test=" gender!=null ">and gender = #{gender}</if>
            <if test=" age!=null ">and age = #{age}</if>
            <if test=" signature!=null and signature!='' ">and signature = #{signature}</if>
            <if test=" phoneNumber!=null and phoneNumber!='' "> and phone_number = #{phoneNumber}</if>
             and is_deleted = 0
        </where>
        order by id desc
    </select>

    <!--  用户注册的时候,只用获取手机号和头像  -->
    <insert id="insertUser">
        insert into user
            (
                <if test=" phoneNumber!=null and phoneNumber!='' ">phone_number</if>
                <if test=" profilePicture !=null and profilePicture != '' ">,profile_picture</if>
            )
        values
            (
                <if test=" phoneNumber!=null and phoneNumber!='' ">#{phoneNumber}</if>
                <if test=" profilePicture !=null and profilePicture != '' ">,#{profilePicture}</if>
            )
    </insert>

    <!--  suffixOverrides=","：去掉最后一个多余的逗号  -->
    <update id="updateUser" parameterType="com.xiaoyouquan.pojo.User">
        UPDATE user SET
        <trim suffixOverrides=",">
            <if test="nickname != null and nickname != ''">nickname = #{nickname},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="age != null">age = #{age},</if>
            <if test="signature != null and signature != ''">signature = #{signature},</if>
            <if test="status != null">status = #{status},</if>
            <if test="campus1 != null and campus1 != ''">campus1 = #{campus1},</if>
            <if test="campus2 != null and campus2 != ''">campus2 = #{campus2},</if>
            <if test="campus3 != null and campus3 != ''">campus3 = #{campus3},</if>
            <if test="campus4 != null and campus4 != ''">campus4 = #{campus4},</if>
            <if test="campus5 != null and campus5 != ''">campus5 = #{campus5},</if>
            <if test="campus6 != null and campus6 != ''">campus6 = #{campus6},</if>
            <if test="academicDegree1 != null and academicDegree1 != ''">academic_degree1 = #{academicDegree1},</if>
            <if test="academicDegree2 != null and academicDegree2 != ''">academic_degree2 = #{academicDegree2},</if>
            <if test="academicDegree3 != null and academicDegree3 != ''">academic_degree3 = #{academicDegree3},</if>
            <if test="academicDegree4 != null and academicDegree4 != ''">academic_degree4 = #{academicDegree4},</if>
            <if test="academicDegree5 != null and academicDegree5 != ''">academic_degree5 = #{academicDegree5},</if>
            <if test="academicDegree6 != null and academicDegree6 != ''">academic_degree6 = #{academicDegree6},</if>
            <if test="profilePicture != null and profilePicture != ''">profile_picture = #{profilePicture},</if>
            <if test="phoneNumber != null and phoneNumber != ''">phone_number = #{phoneNumber},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="isDeleted != null ">is_deleted = #{isDeleted},</if>
        </trim>
        WHERE id = #{id}
    </update>

</mapper>